<header class="panel-cover {{#if post}}panel-cover--collapsed{{else if tag}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="javascript:;" title="首屏" class="index-button"><img src="https://congm.in/index/img/congminWhite.png" alt="{{@blog.title}}" class="panel-cover__logo iUp" /></a>
        <div class="navigation-wrapper iUp">
          <div>
          {{navigation}}
          </div>
          <div class="iUp">
          {{> social}}
          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-slate"></div>
  </div>

  {{#if post}}<a href="/" class="go-back"><i class="fa fa-home"></i></a>{{else if tag}}<a href="/" class="go-back"><i class="fa fa-home"></i></a>{{/if}}
</header>