<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="{{meta_description}}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link rel="icon" type="image/png" href="{{asset "/images/favicon.png"}}">
    <link rel="shortcut icon" type="image/png" href="{{asset "/images/favicon.png"}}">

    {{! Styles and Scripts }}
    <link rel="stylesheet" href="{{asset "css/mcno.css"}}">
    <link rel="stylesheet" href="{{asset "/css/iconfont.css"}}">
    <link rel="stylesheet" href="{{asset "/css/font-awesome.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/tomorrow.css"}}">
    
    {{! Ghost Head }}
    {{ghost_head}}

</head>
<body class="{{body_class}} mobile">
    <!--[if IE]><p class="kill-ie">微软都放弃了IE，为啥你却还不放弃？</p><![endif]-->
    <span class="mobile btn-mobile-menu hidden">
        <a href="/" class="go-back-fixed"><i class="fa fa-home"></i></a>
        <i class="fa fa-bars btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

    {{> side-panel}}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{{body}}}

            {{> footer}}
        </div>
    </div>

    {{! Ghost Footer }}
    {{ghost_foot}}

    <!-- Compatibility for Ghost 0.7.0: http://dev.ghost.org/no-more-jquery/ -->
    <script type="text/javascript">  
      if (typeof jQuery == 'undefined') {
        document.write('<script src="https://congm.in/static/jquery-1.11.3.min.js"></'+'script>');
      }
    </script>

    {{! The main JavaScript file }}
    <script src="{{asset "js/main.js"}}"></script>

    {{! Highlight.js }}
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
