{{!< default}}

  <div class="main-post-list hidden">

    <ol class="post-list">
      {{#foreach posts}}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
        <p class="excerpt">{{excerpt characters="250"}}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{date format="YYYY年MM月DD日"}}" class="post-list__meta--date date">{{date format="YYYY年MM月DD日"}}</time> {{#if tags}}&#8226;{{/if}} <span class="post-list__meta--tags tags">{{tags}}</span><a class="btn-border-small" href={{url}}>阅读全文</a></div>
        <hr class="post-list__divider" />
      </li>
      {{/foreach}}
    </ol>

    {{pagination}}

  </div>